/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  list-style: none;
}


/* Global Styles */


/* Website Styles  */
/* Header Part  */

/* Nav Section  */
.logo {
  font-size: 24px;
  color: #3A3A3A;
  font-weight: 800;
}

nav {
  margin: 87px 120px 56px 120px;
  display: flex;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  gap: 34px;
  font-size: 1rem;
  font-weight: 600;
  color: #3A3A3A;
}

.cart {
  position: relative;
  bottom: 3px;
}

/* Banner Section  */
.banner {
  display: flex;
  margin: 0 165px 0 120px;
  justify-content: space-between;
}

.banner-text {
  max-width: 582px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-title {
  color: #3A3A3A;
  font-size: 52px;
}

.banner-description {
  font-size: 1rem;
  font-weight: 500;
  max-width: 505px;
  margin-bottom: 16px;
}

.banner-button {
  background-color: #E02C6D;
  color: white;
  border-radius: 30px;
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 600;
  border: 0px;

  width: 190px;
}

.banner-image {
  background-image: url("Assets/images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner-image>img {
  padding: 30px;
}

/* logo section  */
.logos {
  display: flex;
  justify-content: space-between;
  padding: 36px 62px;
  margin: 107px 10.31vw;
  border-radius: 10px;
  border: 2px solid rgba(233, 230, 230, 0.705);
}

/* Collection and Card Section  */

.collection-container {
  max-width: 1047px;
  margin: 0 auto;
}

.collection-title {
  font-size: 28px;
  font-weight: 600;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 30px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 3px 6px 42px 16px rgba(0, 0, 0, 0.11);
  width: 329px;
}

.card>img {
  width: 300px;
  justify-content: center;
}

.card-title {
  font-size: 28px;
  font-weight: 500;
  margin-top: 16px;
  color: #18191F;
}

.price {
  font-size: 24px;
}

.checked {
  color: orange;
}

.card-description {
  color: #787885;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.see-more {
  color: #E02C6D;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 50px;
  text-align: right;
  margin-right: 20px;
}

/* Featured section  */

.feature-container {
  display: flex;
  max-width: 1120px;
  margin: 100px auto;
  /* border: #0A0826 2px solid; */
}

.feature-container>img {
  width: 404px;
}

.feature-text {
  padding: 23px 0 23px 96px;
}

.feature-title {
  font-size: 38px;
  font-weight: 800;
  color: #0A0826;
}

.feature-description {
  font-size: 1rem;
  font-weight: 700;
  color: #6C6C6C;
  max-width: 501px;
  margin: 16px 0;
}

.feature-button {
  background-color: #E02C6D;
  color: white;
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 600;
  border: 0px;
  width: 180px;
}

/* Footer Section  */

footer {
  padding: 50px 0;
  display: flex;
  background-color: #0A0826;
  align-items: center;
  flex-direction: column;
}

.footer-text {
  margin: 0 auto;
  text-align: center;
}

.footer-title {
  font-size: 24px;
  font-weight: 800;
  color: #FFFFFF;

}

.footer-description {
  font-size: 14px;
  font-weight: 500;
  color: #D9DBE1;
  margin: 3px 0;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  /* border: #ffffff 2px solid; */
  width: 176px;
  margin-top: 14px;
}

/* Small device  */
@media screen and (max-width:576px) {
  nav {
    display: block;
    text-align: center;
    margin: 35px 35px 22px 35px;
  }

  .logo {
    font-size: 22px;
    margin-bottom: 20px;

  }

  .nav-right {
    display: flex;
    gap: none;
    justify-content: space-between;
  }

  /* logos  */
  .logos {
    flex-wrap: wrap;
    gap: 15px;
  }

  .logos img {
    width: 51px;

  }

  /* Banner responsive */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 51px 14px 51px;
  }

  .banner-title {
    font-size: 28px;
  }

  .banner-description {
    font-size: 14px;
  }

  .banner-image {
    width: 400px;
    height: 400px;
  }

  .banner-image>img {
    width: 370px;
    padding: none;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .card-title {
    font-size: 20px;
    font-weight: 700;
  }

  .price {
    font-size: 18px;
  }

  .feature-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
  }

  .feature-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 0;
    text-align: center;
  }

  .feature-container>img {
    width: 430px;
  }
}